/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Prata&display=swap');

/*  

font-family: "Prata", serif;
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Cormorant Unicase", serif;

*/

/* Default CSS Code */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Avoid horizontal scrolling issues */
}

body {
    background: #F3F2EC;
}
  
:focus * {
    outline: 0;
}
  
button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent;
}
  
button:focus {
    outline: 0;
}
  
.btn.focus,
.btn:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}
  
ul,
p {
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
}
  
a:hover {
    text-decoration: none;
}
  
.overflow {
    overflow: hidden;
}
  
li {
    list-style-type: none;
}
  
label {
    display: block;
}
  
input {
    width: 100%;
}
  
img,
svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    vertical-align: middle;
}
  
.object-contain {
    object-fit: contain;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Prata", serif;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 400;
    color: #222222;
    text-transform: capitalize;
}

p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #7A7A7A;
    padding: 0;
    margin: 0;
}

.heading-01 {
    font-size: 4.6rem;
}

.heading-04 {
    font-size: 2.8rem;
}

.heading-05 {
    font-size: 2.2rem;
}

.heading-06 {
    font-size: 1.8rem;
}

.btn {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
    padding: 1.2rem 3.5rem;
    width: fit-content;
    /* min-width: 30rem; */
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.8rem;
    border: 0;
}
  
.btn:hover {
    color: var(--text-white);
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    margin-top: 18rem;
}

.section_title,
.section_subtitle {
    text-align: center;
    padding-bottom: 2rem;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.header_tops {
    padding: 1rem 0;
    border-bottom: 1px solid #E0E0E0;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top_icon,
.header_top_content {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header_top_icons {
    color: #9F9F9F;
    font-size: 1.5rem;
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

.header_top_icons:hover {
    color: #555555;
}

.header_top_text {
    display: flex;
    column-gap: 1rem;
}

.header_top_text i {
    color :#111111;
    font-size: 1.2rem;
}

.header_top_text span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #777777;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}

.nav_link {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #111111;
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

.nav_link:hover {
    color: #74642F;
}

.nav_link.active {
    color: #74642F;
}

.nav_btn {
    font-size: 1.6rem;
    color: #111111;

}

.nav_logo {
    font-family: "Cormorant Unicase", serif;
    font-size: 4.6rem;
    color: #0A0A0A;
    font-weight: 700;
}

.nav_logo span {
    font-weight: 300;
}

/* HOME */

.home {
    height: 80vh;
    position: relative;
}

.home_content {
    display: flex;
    padding-top: 15rem;
}

.home-decs {
    width: 602px;
    height: auto;
    line-height: 3.5rem;
    margin-top: 1.5rem;
}

.home_btn {
    border: 1px solid #C0C0C0;
    margin-top: 7.5rem;
}

.home_left {
    flex: 1;
}

.home_right {
    width: 395px;
    position: relative;
    margin-right: 15rem;
}

.home_img01 {
    position: relative;
    z-index: 20;

}

.home_img02 {
    position: absolute;
    top: -18rem;
    right: -19rem;
    z-index: 10;
}

/* swiper-custom-pagination */

/* .swiper-custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
} */

/* .swiper-custom-pagination .custom-pagination {
    position: absolute;
    column-gap: 10px;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
} */

/* Container for pagination dots */

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* .custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    pointer-events: auto;
} */

.custom-pagination .dot {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.custom-pagination .dot01 {
    width: 10px;
    height: 10px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.custom-pagination .dot01.active {
    background-color: #856404; /* Inner circle active color */
}

.custom-pagination .dot.active {
    border: 1px solid #D7D5CC;
}

.custom-pagination .dot:hover {
    border: 1px solid #D7D5CC;
}

.custom-pagination .dot:hover .dot01 {
    background-color: #856404;
}

.home_container {
    position: relative;
}

.swiper {
    position: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #E5E3DA;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.swiper-button-prev,
.swiper-button-next {
    font-size: 3.5rem;
    color: #8C8C8C;
}

.swiper-button-prev {
    left: -100px;
}

.swiper-button-next {
    right: -100px;
}

/* BOOKMARK */

.bookmark {
    background: #EDEBE4;
    padding: 7.5rem 0;
}

.bookmark_container {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 13rem;
    position: relative;
}

.feature_decs {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.feature_head::after,
.feature_head::before {
    content: '';
    background: red;
    width: 58%;
    height: 1px;
    top: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.feature_head::before {
    right: 0;
}

.feature_head::after {
    left: 0;
}

.feature_container {
    position: relative;
    padding-bottom: 10rem;
}

.feature_head {
    position: relative;
    width: max-content;
    margin: 0 auto 3.2rem;
    font-size: var(--h2-font-size);
}

.feature_head::after,
.feature_head::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: -5.4rem;
}

.feature_head::before {
    left: initial;
    right: -9.4rem;
}

/* .feature_head {
    position: relative;
}

.feature_head::after,
.feature_head::before {
    content: '';
    background: red;
    width: 500px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} */

/* .feature_head::before {
    left: 0;
} */

/* .feature_head::after {
    right: 0;
} */

/* .feature_line01,
.feature_line02 {
    position: absolute;
    width: 28%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: #E0E0E0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.feature_line01 {
    left: 0;
}
.feature_line02 {
    right: 0;
} */

.feature_img {
    background: #EFEEE8;
    border: 1px solid #EFEEE8;
    width: fit-content;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
}

.feature_img01 { 
    width: 220px;
    height: auto;
}

.feature_text {
    text-align: center;
    margin-top: 2.4rem;
}

.feature_desc {
    font-size: 1.4rem;
    margin: .8rem 0 2rem 0;
}

.feature_text h5,
.feature_text h6{
    color: #74642F;
}

.feature_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize;
    font-weight: 500;
}

/* BEST SELLING BOOK */

.bsb {
    background: #EDEBE4;
    padding: 15rem 0;
}

.bsb_img {
    width: 41.3rem;
    height: auto;
    border: 15px solid #EDECE6;
}

.bsb_container {
    display: flex;
    column-gap: 17rem;
}

.bsb_dot {
    width: 46px;
    height: auto;
}

/* POPULAR BOOKS */

.popolar_desc {
    font-size: 1.3rem;
    font-weight: 500;
}

.heading_line {
    position: relative;
    padding: 0;
}

.heading_line::after,
.heading_line::before {
    content: '';
    width: 459px;
    height: 1px;
    background: #E0E0E0;
    position: absolute;
    top: 50%;
    left: -6.4rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.heading_line::before {
    left: initial;
    right: -6.4rem;
}


/* Buttons */

.custom_isotope_btn {
    display: inline-block;
    padding: 10px 0;
    margin: 0px 5px;
    color: #7A7A7A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.custom_isotope_btn::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #9A884C;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .4s;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -ms-transition: width .4s;
    -o-transition: width .4s;
}

.custom_isotope_btn:hover,
.custom_isotope_btn.active {
    color: black;
}

.custom_isotope_btn:hover::after {
    width: 100%;
}

.custom_isotope_btn.active::after {
    width: 100%;
}

.isotope-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;    
    margin-top: 5rem;
}

.isotope-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
  }

.popular_text {
    text-align: center;
}

.popular_main_grid {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem; */
    padding: 5.5rem 0;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 5rem;
}

.popular_grid,
.popular_image {
    width: 326px;
}

.popular_image{
    border: 1px solid #EAE8DF;
    background-color: #EAE8DF;
    margin-bottom: 2.4rem;
}


/* EXAMPLE */

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

/* Basic */
body {
  font-family: "Comfortaa", cursive;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*         section                 */
.section {
  color: #fff;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
  text-align: center;
  padding: 80px 45px;
}

.section-heading h2 {
  margin: 0 auto;
  padding: 10px auto;
  font-size: 32px;
  font-weight: 700;
  color: #4b52b6;
  background-color: #fff;
  transition: 1s;
}
.section-heading h2:hover {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #4b52b6;
  transition: 1s;
}
.section-heading .line-dec {
  width: 60px;
  height: 3px;
  background-color: #4b52b6;
  margin: 10px auto;
}
.section-heading span {
  margin-top: 5px;
  font-size: 16px;
  color: #4b52b6;
  letter-spacing: 0.5px;
}

/* Buttons */

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 5px;
  background-color: #fff;
  color: #4b52b6;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  outline: none;
  background-color: #4b52b6;
  color: #fff;
}
button.active {
  outline: none;
  background-color: #4b52b6;
  color: #fff;
}


/*    isotope       */
.section-heading {
  text-align: center;
  padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: auto;
}

.isotope-toolbar span {
  text-transform: capitalize;
  display: inline-block;
/*   margin-right: 15px;
  padding-bottom: 3px; */
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transform: ease-in-out 0.5s;
  cursor: pointer;
  flex: 1;
}

.isotope-box {
  position: relative;
  width: 100%;
  flex: 1;
}
.isotope-toolbar {
  text-align: center;
  margin: 10px;
}

.isotope-item {
  position: relative;
  width: 48%;
  margin: 1%;
  border-bottom: 2px solid rgba(250, 250, 250, 0.1);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.isotope-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

figure {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}
figure span {
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #7a7a7a;
}
figure svg {
  position: relative !important;
  font-size: 18px;
  background-color: #4b52b6;
  width: 40px;
  height: 40px;
		padding :5px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
	 fill: red;
}
figure:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure:hover figcaption,
figure.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure:hover:after,
figure.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}








